{{#each data}}

    {{#if address }}
        <div class="address">{{address}}</div>
    {{/if}}

    {{#if email}}
        <div class="email">{{email}}</div>
    {{/if}}

    {{#if map_widget_code}}
        <div class="map_widget_code">{{{map_widget_code}}}</div>
    {{/if}}

    {{#if phone_title }}
        <a href="tel:{{phone_number}}" class="phone_title">{{phone_title}}</a>
    {{/if}}

{{/each}}
