ABOUT

{{#if data.address}}
    <div class="address">{{data.address}}</div>
{{/if}}

{{#if data.email}}
    <div class="email">{{data.email}}</div>
{{/if}}

{{#if data.map_widget_code}}
    <div class="map_widget_code">{{data.map_widget_code}}</div>
{{/if}}


{{#if data.phone_title }}
    <a href="tel:{{data.phone_number}}" class="phone_title">{{data.phone_title}}</a>
{{/if}}
